body {
    font-family: sans-serif;
    font-size: 16px;
}

.main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    max-width: 1500px;
}

.main .container {
    display: block;
    margin: 50px 10px
}

.add-form {
    display: block;
    text-align: center;
    background-color: #BAF0BA;
    border-radius: 10px;
    border: none;
    padding: 20px 20px;
    color: #0C700C;
}

.edit-form {
    display: block;
    text-align: center;
    background-color: #bae2f0;
    border-radius: 10px;
    border: none;
    padding: 20px 20px;
    color: #0c4d70;
}

.search-form {
    display: block;
    text-align: center;
    border: none;
    padding: 20px 20px;
    color: #70540c;
}

.search-form input {
    border: 1px solid #0C700C;
    border-radius: 10px;
    padding: 10px;
    margin: 0 5px;
    color: #70540c;
}

.add-form input {
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 0 5px;
    background-color: #f7fdf7;
    color: #0C700C;
}

.edit-form input {
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 0 5px;
    background-color: #f7fafd;
    color: #0c4370;
}

.add-form input:focus-visible {
    border-color: #4CBB4C!important;
}

.edit-form input:focus-visible {
    border-color: #4c80bb !important;
}

.right {
    text-align: right;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
}

th, td {
    text-align: left;
    padding: 16px;
    color: #0D4158;
}

tr th:hover {
    background-color: #B3D4E3 !important;
    color: #23627D;
}

tr:nth-child(even) {
    background-color: #d2e5ec;
}

tbody tr:hover {
    background-color: #6EA2B8;
    color: #fff;
}

.active {
    background-color: #6EA2B8!important;
    color: #fff;
}

button {
    margin: 0 5px 0 5px;
    cursor: pointer;
    border-radius: 15px;
    padding: 10px 20px;
    border: none;
}

.delete {
    background-color: #8B0F0F;
    color: #FFC6C6;
}

.delete:hover {
    background-color: #FFC6C6;
    color: #8B0F0F;
}

.add {
    background-color: #0C700C;
    color: #BAF0BA;
}

.add:hover {
    background-color: #BAF0BA;
    color: #0C700C;
}

.edit {
    background-color: #0D4158;
    color: #B3D4E3;
}

.edit:hover {
    background-color: #B3D4E3;
    color: #0D4158;
}

.center {
    text-align: center;
}

.padding-16 {
    padding: 16px;
    margin-bottom: 10px;
}
